<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} &mdash; {% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.title }}{% endif %}{% else %}{{ site.title | escape }} &mdash; {{ site.description }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  <meta name="author" content="{{ site.title }}">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@danklammer">
  <meta name="twitter:creator" content="@danklammer">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }} &mdash; {% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.title }}{% endif %}{% else %}{{ site.title | escape }} &mdash; {{ site.description }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

  <meta property="og:url" content="{{ page.url | prepend: site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }} &mdash; {% if page.subtitle %}{{ page.subtitle }}{% else %}{{ site.title }}{% endif %}{% else %}{{ site.title | escape }} &mdash; {{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

  {% if page.hero-image %}
    <meta property="og:image" content="{{ page.hero-image | prepend: site.url }}">
    <meta property="twitter:image" content="{{ page.hero-image | prepend: site.url }}">
  {% else %}
    <meta property="og:image" content="{{ '/img/meta/dk-og.png' | prepend: site.url }}">
    <meta property="twitter:image" content="{{ '/img/meta/dk-og.png' | prepend: site.url }}"> 
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">

  <link rel="apple-touch-icon" href="{{ "/apple-touch-icon.png" | prepend: site.baseurl }}">
  <link href="{{ "/favicon.ico" | prepend: site.baseurl }}" rel="shortcut icon" type="image/x-icon">

  {% if page.path contains '_posts' or '_drafts' %}
    <style> 
      .post-content a, .color-page { color: rgb({{ page.color }}) }
      .post-content a.btn, .bg-page { color: #fff; background: rgb({{ page.color }}) }
      .post-content .highlight { border-color: rgba({{ page.color }}, 0.7) }

      /* CSS loaded only when requested via modeulecss args */
      {% if page.modulecss %}
          {% for css in page.modulecss %}
              {% include {{ css }} %}
          {% endfor %}
      {% endif %}
    </style>
  {% endif %}

</head>