<script src="{{ site.baseurl }}/js/photoswipe.min.js"></script> 

<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="pswp__bg"></div>

    <div class="pswp__scroll-wrap">

        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close svg-shadow-dark" title="Close (Esc)">
                    {% include icons/icon-close.svg width="38" height="38" stroke-width="8%" class="color-white mt2 mr2 p2 pointerevents-none" %}
                </button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left svg-shadow-dark" title="Previous (arrow left)">
                {% include icons/icon-chevron-left.svg width="52" height="52" stroke-width="8%" class="color-white p2 pointerevents-none" %}
            </button>

            <button class="pswp__button pswp__button--arrow--right svg-shadow-dark" title="Next (arrow right)">
                {% include icons/icon-chevron-right.svg width="52" height="52" stroke-width="8%" class="color-white p2 pointerevents-none" %}
            </button>

            <div class="pswp__caption align-center">
                <div class="pswp__caption__center inline-block font-size-6 font-weight-600 color-white br5 text-shadow-medium"></div>
            </div>

        </div>

    </div>

</div>